Installing the necessary libraries to generate the dataset

In [37]:
# Installing numpy into the environment
!pip install numpy

# Installing pandas into the environment
!pip install pandas

# Installing random into the environment
!pip install random

Requirement already satisfied: numpy in c:\users\visma\anaconda3\vismaya\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\visma\anaconda3\vismaya\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\visma\anaconda3\vismaya\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\visma\anaconda3\vismaya\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\visma\anaconda3\vismaya\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\visma\anaconda3\vismaya\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\visma\anaconda3\vismaya\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

Importing the necessary libraries into the environment

In [38]:
# Importing numpy into the environment
import numpy as np
# Importing pandas into the environment
import pandas as pd
# Importing random into the environment
import random

In [39]:
# Seeting random seed for reproducibility
np.random.seed(42)

Iniatializing values and parameters for the dataset

In [40]:
# Initializing the number of records required in the dataset
num_records = 5000

In [41]:
# Generating curtomer ID
customer_ids = [f'CUST{str(i).zfill(5)}' for i in range(1, num_records+1)]

In [42]:
# Generating Age for each row in the dataset
ages = np.random.randint(18, 70, size=num_records)

In [43]:
# Generating Genders for each row in the dataset
genders = np.random.choice(['Male', 'Female'], size=num_records)

In [44]:
# Generating the Contract-Type for each row in the dataset
contract_types = np.random.choice(['Month-to-month', 'One year', 'Two year'], size=num_records, p=[0.5, 0.3, 0.2])

In [45]:
# Generating Monthly and Total Charges with some correlations
monthly_charges = np.round(np.random.uniform(20, 120, num_records), 2)
tenures = np.random.randint(1, 72, size=num_records)
total_charges = np.round(monthly_charges * tenures + np.random.normal(0, 50, num_records), 2)

In [46]:
# Generating Tech Support  for each row in the dataset
tech_support = np.random.choice(['Yes', 'No'], size=num_records, p=[0.3, 0.7])

In [47]:
# Generating Internet-services for each row in the dataset
internet_services = np.random.choice(['DSL', 'Fiber optic', 'No'], size=num_records, p=[0.4, 0.5, 0.1])

In [48]:
# Generating paperless_billing for each row in the dataset
paperless_billing = np.random.choice(['Yes', 'No'], size=num_records, p=[0.7, 0.3])

In [49]:
# Generating PaymentMethod for each row in the dataset
payment_methods = np.random.choice(['Electronic check', 'Mailed check', 'Bank transfer', 'Credit card'], size=num_records)

Introducing churn-rate into the dataset

In [50]:
# Introducing a 20% churn-rate target
churn = np.random.choice(['Yes', 'No'], size=num_records, p=[0.2, 0.8])

Compiling the dataframe

In [51]:
# Compile the dataframe and name it "churn"
churn = pd.DataFrame({
    'CustomerID': customer_ids,
    'Age': ages,
    'Gender': genders,
    'ContractType': contract_types,
    'MonthlyCharges': monthly_charges,
    'TotalCharges': total_charges,
    'TechSupport': tech_support,
    'InternetService': internet_services,
    'Tenure': tenures,
    'PaperlessBilling': paperless_billing,
    'PaymentMethod': payment_methods,
    'Churn': churn
})

Introducing missing values and outiers in the dataset

In [52]:
# Introducing 5% missing values in the dataset
for col in ['TotalCharges', 'Tenure', 'MonthlyCharges']:
    churn.loc[random.sample(range(num_records), int(0.05 * num_records)), col] = np.nan  # 5% missing values

In [53]:
# Introducing 1% outliers in the dataframe
churn.loc[random.sample(range(num_records), int(0.01 * num_records)), 'MonthlyCharges'] *= 1.5  # 1% outliers

Loading the newly generated dataset

In [54]:
# Displaying the first five instances from the newly generated dataset
churn.head()

,CustomerID,Age,Gender,ContractType,MonthlyCharges,TotalCharges,TechSupport,InternetService,Tenure,PaperlessBilling,PaymentMethod,Churn
0,CUST00001,56,Male,One year,82.58,1125.21,Yes,Fiber optic,14.0,Yes,Bank transfer,No
1,CUST00002,69,Female,Month-to-month,60.91,2464.74,Yes,Fiber optic,41.0,Yes,Mailed check,No
2,CUST00003,46,Female,Two year,45.40,29.78,No,Fiber optic,2.0,No,Credit card,No
3,CUST00004,32,Male,Month-to-month,105.97,2061.71,No,DSL,19.0,Yes,Electronic check,No
4,CUST00005,60,Male,Month-to-month,90.02,111.76,Yes,DSL,1.0,Yes,Electronic check,No

Saving the dataset

In [55]:
# Saving the dataset as a csv file for future use
churn.to_csv('churn_data.csv', index=False)